body {
    margin: 0;
}

main {
    width: 100vw;
    min-height: 100vh;
    padding: 1rem;
    padding-top: calc(60px + 1rem);

    background: url(../img/login_bg.jpg);
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 100%;

    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;

    transition: 0.8s ease;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    font-weight: 300;
}

.idx_lyt {
    max-width: 800px;
    width: 80%;

    background-color: white;
    padding: 3rem;
    border-radius: 2rem;
    box-shadow: 0 3px 20px 3px rgb(255 255 255 / 39%);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.idx_titulo {
    font-weight: 300;
}

.idx_titulo b{
    font-weight: 400;
}


.idx_button {
    font-size: 1.4rem;
    color: white;
    letter-spacing: 2px;

    background-color: rgb(238, 87, 49);
    box-shadow: 0 3px 5px 0px rgb(44 0 0 / 29%);

    padding: 1rem 1.5rem;

    border: none;
    border-radius: 1rem;
}